<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.empresa.alumnado">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/graduation"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/graduation"
        android:supportsRtl="true"
        android:theme="@style/Theme.alumnado">
        <activity android:name=".DetallesAlumno"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.alumnado.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>